*{
  margin: 0;
  }

html,
body{
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  display: grid;
  place-items: center;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


main {
  background: url(images/Background.svg) ;
  width: 375px; 
  height: 812px; 
}

/* General container */
.container{
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

/* Face and stamp */

.avatar{
  width: 10rem;
  margin: 11.5rem  auto 0;
  position: relative;
}

/* Stamp */

.avatar span{
  z-index: 1;
  position: absolute;
  top: -15px;
}

/* Face */

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%)
}

h1 {
 font-size: 1.5rem;

 margin-top: 1.5rem;
 }

 a {
   text-decoration: none;
   margin-top: 0.25rem;
   color: var(--gray);

   display: flex;
   gap: 0.75rem;
   justify-content: center;
   align-items: center;
 }

 p{
   margin-top: 2rem;

 }

 ul{
   margin-top: 4rem;

   list-style: none;
   padding: 0;
   display: flex;
   gap: 0.5;
   justify-content: center;

  }
 