
/* cascating style sheet*/


body{
  display: grid;
  place-items: center;
}

main {
  background: url(images/Background.svg) ;
  width: 375px; 
  height: 812px; 
}

.container{
  max-width: 250px;
  margin: auto;
}